body {
    background-color: #100E08;
    font-family: 'Bebas Neue', cursive;
    font-size: 1em;
    text-shadow: 1px 1px 1px red;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Mobile Styles */

#container {
    margin: 20px;
    background-color: #99845D;
}

header {
    padding: 60px 40px;
    border-bottom: 5px solid black;
    background-color: #99845D;
    border-radius: 20px 20px 0px 0px;
}

header h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Supermercado One', cursive
}

.col h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Supermercado One', cursive
}

.col {
    border: 4px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px red;
    background-color: #b49e74;
}

.col2 h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Supermercado One', cursive;
}

col2 img {
    margin: 20px;
}

.main_img {
    display: none;
}

footer {
    padding: 60px 0;
    text-align: center;
    border-top: 4px solid black;
    font-weight: bold;
    font-family: 'Supermercado One', cursive
}

@media(min-width: 768px) {
    #container {
        width: 90%;
        margin: 20px auto;
        border-radius: 20px;
    }
    .col {
        width: 65%;
        margin: 20px auto;
    }

    .col img {
        width: 30%;
    }
}

@media(min-width: 1024px) {
   
    #container {
        width: 75%;
        border-radius: 20px;
    }
   
    #flex {
        display: flex;
    }


    .col {
    margin: 20px;
    width: 100%;
    }

    .col img {
    width: 40%;
    }

    .main_img {
    display: block;
    width: 30%;
    margin: 20px auto;
    }

}